<% provide(:title, 'Edit Profile') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:path, user_path(@user) ) %>

<div class="box">
  <h1>Edit your Profile</h1>
  <div class="form edit-form">
    <%= render 'form' %>
  </div>
</div>