<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<% provide(:path, users_path ) %>

<div class="box">
  <h1>Sign up</h1>
  <div class="form signup-form">
    <%= render 'form' %>
  </div>
</div>
