@import "./variables";


.navbar {
  width: 100%;
  background-color: $darkBlueColor;
  a {
    color: #fff;
  }
  -webkit-box-shadow: 2.5px 2.5px 7.5px 2.5px #000000; 
  box-shadow: 2.5px 2.5px 7.5px 2.5px #000000;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  a {
    width: 100%;
    height:100%;
    display: grid;
    place-items: center;
  }
}

.nav-title {
  font-weight: 700;
  font-size: 20px;
}

.nav-item {
  color: #fff;
  height: 60px;
  width: 100%;
}

/* Dropdown button on hover & focus */
.nav-item:hover, .nav-item:focus {
  background-color: grey;
}

/* Dropdown Button */
.dropbtn {
  width: 100%;
  height:100%;
  display: grid;
  place-items: center;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:after {
  content: "▼";
  font-size: 0.7rem;
  position: absolute;
  right: 10px;
  top: 45%;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: grey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  width: 100%;
  height:100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 0;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:  block;
}

.btn-clicked {
  color: black;
  background-color: grey;
}